<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo Náutico</title>

</head>
<body>
    <div class="recibo">
        <img src="https://i.imgur.com/jFy7UPY.png" alt="Logo" class="logo">
        <h1>RECIBO</h1>
        <h4>NETO DESPACHANTE NÁUTICO E ESCOLA NÁUTICA EIRELI-ME</h4>
        <h6>Av. Angélica, QD Y01, LT 14, nº 508, Jardim Bela Vista, Goiânia-Go.</h6>
        <h6>Telefones: (62)3282-3906/ 3249 3052</h6>
        <h6>WhatsApp: (62) 9 9971-9568 <i class="fa-brands fa-whatsapp"></i></h6>

        <div class="info-cliente">
            <label id="nomeCliente">CLIENTE: {{cliente.nome}}</label>
            <label>DATA: {{cliente.dataReceb| date : 'dd/MM/yyyy'}}</label>
        </div>

        <div class="valor">
            <label id="valorRecebido">VALOR: {{cliente.recebibo | currency : 'R$'}}</label>
        </div>

        <div class="detalhes">
            <label id="corAzul1">SERVIÇO: PAGAMENTO REFERENTE Á: <span id="corPreta1">{{cliente.tipoProcesso}}</span></label>
            <label id="corAzul2">TIPO DE PAGAMENTO: <span id="corPreta2">{{cliente.formPgto}}</span></label>
        </div>

        <div class="observacao">
            <label id="corVermelha1">OBSERVAÇÃO: <span id="corPreta2">{{cliente.observacao}}</span></label>
        </div>

        <div class="contato">
            <label id="contato">Contato Financeiro: 62 3282-3906 <br> Email: financeiro@escolanauticaeassessoria.com.br</label>
        </div>
        
        <div class="detalhes">
          <label id="corAzul1">SERVIÇO: PAGAMENTO REFERENTE Á: <span id="corPreta1">{{cliente.tipoProcesso}}</span></label>
          <label id="corAzul2">SITUACAO: <span id="corPreta2">{{cliente.situacao_pagamento}}</span></label>
      </div>

        <!-- <div class="watermark">PAGO</div> -->
    </div>
</body>